<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="python" />
                    <add segment="docs" />
                    <add segment="text" />
                    <add segment="pagehelp" />
                    <add segment=".git" />
                    <add segment="includes" />
                    <add segment="aspnet_client" />
                    <add segment="obj" />
                    <add segment="Properties" />
                    <add segment=".gitignore" />
                    <add segment=".jshintrc" />
					<add segment="pythonport.config" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".py" allowed="false" />
                    <add fileExtension=".suo" allowed="false" />
                    <add fileExtension=".sln" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <clear />
                <rule name="Pyramid Debug passthrough" stopProcessing="true">
                    <match url="^(/_debug_.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SetPythonPort:9876}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:{C:1}/{R:1}" />
                </rule>
                <rule name="jQuery Versioned Files" stopProcessing="true">
                    <match url="^(scripts/jquery.*\.min\.js)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Versioned Files" stopProcessing="true">
                    <match url="^(.*)_v[0-9]+(\.[a-zA-Z]{2,4})$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}{R:2}" appendQueryString="false" />
                </rule>
                <rule name="Media Files" stopProcessing="true">
                    <match url="^(.*\.)(css|js|gif|jpg|jpeg|png|html|xsd|txt)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}{R:2}" appendQueryString="false" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SetPythonPort:9876}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:{C:1}/{R:1}" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="SetPythonPort" defaultValue="9876">
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
